.main {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "sidebar . regionInfo"
    ". central ."
    ". forecast .";
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 3fr;
    transition: .2s ease-out;
    overflow: auto;
    row-gap: 54px;
}

.mainPushed {
    margin-left: 220px;
    transition: .2s ease-out;
}

.central {
    grid-area: central;
    align-self: flex-start;
    justify-self: center;
}

.forecast {
    grid-area: forecast;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: center;
    user-select: none;
    height: 100%;
    margin-bottom: 16px;
}

.sidebar {
    grid-area: sidebar;
    place-self: start;
    margin-left: 16px;
    margin-top: 16px;
}

@media all and (max-width: 695px) {
    .main {
        height: 100vh;
        display: grid;
        grid-template-areas: 
        "central"
        "forecast";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        transition: .2s ease-out;
        overflow: auto;
        row-gap: 74px;
    }

    .forecast {
        margin-bottom: 50px;
    }
}