.sun {
    fill: #ffa000;
    stroke: #000;
    stroke-width: 2;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

.degrees {
    color: #fff;
    font-size: 42px;
    font-weight: bold;
}

.status {
    color: #fff;
    font-size: 22px;
}