.sun {
    fill: #ffa000;
    stroke: #000;
    stroke-width: 2;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    user-select: none;
}

.forecastDay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    color: rgb(255, 255, 255);
    height: 80px;
    position: relative;
    border-radius: 8px;
    padding: 15px;
}

.forecastWeek {
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 25px;
}

.forecastTemp {
    display: flex;
    gap: 6px;
    margin-top: 8px;
}