.large {
    transform: translate(0, 0) scale(7);
    max-width: 100%;
}

.small {
    transform: scale(2);
    max-width: 100%;

    position: absolute;
    top: -35px;
    left: 75px;
}

@media all and (max-width: 695px) {
    .large {
        transform: translate(0, 0) scale(6);
        max-width: 100%;
    }
}

@media all and (max-width: 430px) {
    .large {
        transform: translate(0, 0) scale(5);
        max-width: 100%;
    }
}